{% extends 'base.html.twig' %}

{% block body %}
{% include 'nav.html.twig' %}

<h1>Добавить заправку</h1>

<form method="POST">

    <label>Дата:</label><br>
    <input type="date" name="date" required><br><br>

    <label>Литры:</label><br>
    <input type="number" step="0.01" name="liters" required><br><br>

    <label>Сумма:</label><br>
    <input type="number" step="0.01" name="amount" required><br><br>

    <label>Авто:</label><br>
    <select name="vehicle" required>
        <option value="">Выберите авто</option>
        {% for v in vehicles %}
            <option value="{{ v.id }}">
                {{ v.model }} ({{ v.plateNumber }})
            </option>
        {% endfor %}
    </select>
    <br><br>

    <button type="submit">Создать</button>
</form>

<a href="{{ path('refuel_list') }}">⬅ Назад</a>

{% endblock %}
